
@media screen and (max-width: 1140px){
    .container{
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}

@media screen and (max-width: 512px) {
    .footer-links{
        max-width: 400px !important;
        text-align: center;

    }
    .footer-links ul{
        padding-left: 0;
    }
}



.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web' , sans-serif;
    background-image: url(images/pizza1.jpg) ;
}
.logoindex img{
    border-radius:5px;
}
/* section1 */
#section-1 {
 /*background-image: url(images/pizza2.jpg) ;*/
 min-height: 300px;
}

header{
    padding-top: 3rem;
}

nav{
    float: right;
}
nav ul li{
    display:inline-block;  
    padding: 16px 10px 16px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 120px;
    text-align: center;
    
}


nav ul li.active{
    background-color: rgba(207, 135, 25, 0.616);
    border-radius: 5px;
}

nav ul li a{
    text-decoration: none;
    background-color: rgb(253, 143, 0);
    margin-left: 1.25rem;
}
.button {
    display:block;
    background-color: tomato;
    padding: 0.5rem;
    border-radius: 5px;
    color: white;
    text-decoration: none;

    
}
#index-text {
    margin-top: 3rem;
    text-align: center;
    display: block;
    padding:3px 0px 3px 0px;
    background-color: rgba(255, 99, 71, 0.6);
    color:white;
    border-radius: 20px;   
}
#index-text h1{
    margin-left: 0;
    margin-right: 0;
    color:white;
    
}

/* section-2 */

#section-2 {
    min-height: 740px;
    /*background-image: url(images/section_2.jpg);*/
}


.title-box {
    text-align: center;
    max-width:600px;
    margin-left: auto;
    margin-right: auto;
}
.title-box h2{
    margin-top: 0;
    padding-top: 6rem;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: white;
    
    
}

.title-box .line{
    width: 150px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
}
.title-box p{
    font-size: 18px;
}

.blurb-row {
    margin-top:50px;
}
.title-box p{
    color: white;
}
.blurb{
    width:30%;
    display:inline-block;
    text-align: center;
    margin-top:20px;
    margin-left:30px;
    
    
    
}
.blurb h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color:white;
}
.blurb img{
    margin: 25px;
    padding:15px;
    border-radius: 5px;
}
.blurb p{
    font-size: 18px;
    color: white;
}
.glass {
background: linear-gradient(135deg, rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.123));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 254, 254, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}


/* Pizza menu */

#section-pizzamenu {
    margin-top: 100px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 253, 239);
    border-radius: 5px;
    

}

#section-pizzamenu {
-webkit-box-shadow: 8px 5px 15px 16px rgba(0,0,0,0.7); 
box-shadow: 5px 10px 20px 10px rgba(0, 0, 0, 0.32);
}

.pizza1{
    color: tomato;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Titillium Web' , sans-serif;
}

.pizza1 br{
    padding:10px;
}

.span {
    border-radius: 4px;
    float: right;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
    color: #3d3d3d;
    
    
    margin-top: 20px;
}

.text{
    margin:20px;
    color: #3d3d3d;
    font-weight: bold;
}
.pizza1 hr{
    border: 0;
    border-top: 2px solid rgba(61, 61, 61, 0.774);
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
  .pizza1 h6{
    margin: 0;
    padding-left:20px;
    font-size: 24px;
  }

  .pizza1{
    color: tomato;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Titillium Web' , sans-serif;
}
   
    .pizza1 hr{
    border: 0;
    border-top: 2px solid rgba(61, 61, 61, 0.774);
    margin: 20px 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

/*KONTAKT !!! */
  
  #section-contact{
    min-height: 820px;
    color: white;
}

  #contact-form{
      max-width: 870px;
      margin-right: auto;
      margin-left: auto;
}

#section-contact p{
    text-align: center;
}

input[type="text"],input[type="email"], textarea{
    color: #3d3d3d;
    border: none;
    background-color: #fffdef;
    font-size: 18px;
    margin: 16px;
    border-radius: 5px;
    padding-left: 10px;

}

input[type="text"]::placeholder ,input[type="email"]::placeholder, textarea::placeholder{
    color: #3d3d3d;
    
}

input[type="text"],input[type="email"]{
    width: 50%;
    height: 50px;
   

}

textarea{
    width: 100%;
    height: 200px;
    border-radius: 5px;  
}

.form-row{
    display: flex;
}

input[type="submit"]{

    background-color: rgb(255, 253, 239);
    border: none;
    font-size: 20px;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    margin-top: 50px;
}

footer{
    background-color: rgba(255, 253, 239, 0.753);
}

.footer-links ul li{
    display:inline-block;
    padding: 10px 16px 10px 16px;
}

.footer-links ul li a{
    text-decoration: none;
    color: rgba(255, 253, 239);
    font-size: 20px;
}

.footer-links ul{
    margin: 0;
}

.footer-links{
    max-width: 900px;
    margin-left:auto ;
    margin-right: auto;
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

.ucmlogo{
    max-width: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
}

.ucmlogo :hover{
    background-color: tomato;
}

/*Hlavné jedlá !!!*/

#section-hljedla {
    margin-top: 100px;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 253, 239);
    border-radius: 5px;
    

}


.text{
    margin:20px;
    color: #3d3d3d;
    font-weight: bold;
}


.jedlo span {
    float: right;
    margin-right: 25px;
    font-size: 15px;
    
}

.hljedla h3{
    color:tomato;
    padding-top: 30px;
    font-size:30px;
    position: relative;
    z-index: 1;
}

.hljedla h4{
    color:tomato;
    padding-top:20px;
    font-size:25px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
    z-index: 1;

}

.hljedla h5{
    font-size:18px;
    padding-left: 25px;
    position: relative;
}



.fancydeco {
    line-height: 0.5;
    text-align: center;
  }
  .fancydeco span {
    display: inline-block;
    position: relative;  
  }
  .fancydeco span:before,
  .fancydeco span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid tomato;
    border-top: 1px solid tomato;
    top: 0;
    width: 100px;
  }
  .fancydeco span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancydeco span:after {
    left: 100%;
    margin-left: 15px;
  }


  

  .iconslink{
background-color:white;

  }
  .vinimka{
    max-width: 400px;
    height: 300px;
    position:absolute;
    z-index: 0;
  }

  #section-hljedla .vinimka{
    margin-top: 8%; margin-left: 10%;
    transform: translate(50%,-50%);
   
}

.salat{
    max-width: 400px;
    height: 300px;
    position: absolute;
    z-index: 0;
  }

  #section-hljedla .salat{
    margin-top: 10%; margin-left: 10%;
    transform: translate(50%,-50%);
   
}

    .foodphotos{
    max-width: 400px;
    height: 300px;
    position: absolute;
    z-index: 0;
}

#section-hljedla .foodphotos{
    margin-top: 20%; margin-left: 10%;
    transform: translate(60%,-50%);
   
}

.dezert{
    max-width: 400px;
    height: 300px;

    position: absolute;
    z-index: 0;
  }

  #section-hljedla .dezert{
    margin-top: 15%; margin-left: 18%;
    transform: translate(50%,-50%);
   
}



/* O nás!!! */

#aboutus{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(255, 253, 239);
    border-radius: 5px 5px 0px 0px;
    display:block;
    
}

.info ul li{
    padding-top: 20px;
    color: #3d3d3d;
    font-size:18px;
    
}


#aboutus h2{
    text-align: center;
    color: #3d3d3d;
    font-size: 30px;
}

.video{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}
  

/* BURGRE !!! */

/*{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(255, 253, 239);
    border-radius: 5px;
    display:block;
    text-align: center;
    align-items: center;
}

.burgers{
    background-color:#3d3d3d;
    width: 450px;
    height: 500px;
    border-radius: 5px;
    margin: 50px;
    box-sizing: border-box;
    display: inline-block;

}

.burgers ul li{
    text-decoration: none;

}
.burgrefoto{
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/







#section-burgre{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
#section-burgre {
    background-color: rgb(255, 253, 239);
    
    
}

#section-burgre .menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
}
 .heading{
    background-color: tomato;
    color: #ffffff;
    margin-bottom: 30px;
    padding: 30px 0 30px 0;
    grid-column: 1/-1;
    text-align: center;
}
.heading h1{
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 10px;
    margin-bottom: 10px;
}
.heading h3{
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
}
.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}
.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}
.details-sub h5{
    font-weight: bold;
    font-size: 25px;
    color:tomato
}
.price{
    text-align: right;
}
.details p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}
.details button{
    background-color: tomato;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}

.details button :hover{
    color: rgb(167, 54, 34);
}

.details h5{
    font-size: 20px;
}



#section-pizzamenu .button {
  background-color: initial;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
  z-index: 9;
  border: 0;
  transition: box-shadow .2s;
  max-width: 100px;margin-bottom: 10px;
}

.button :hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.mapa{
    max-width:1000px;
    margin-left: auto;
    margin-right: auto;

}

iframe {
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.dropbtn {
    background-color: tomato;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    padding:8.5px 0px 8.5px 0px;
    margin:0;
    max-height: 40px;
   
  }
  
  .dropdown {
    position: relative;
    display: inline-block;    
    padding: 0.2rem;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: tomato;
    width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
  }
  
  .dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
    background-color: rgba(163, 36, 13, 0);
    float:left;
  }
  
  .dropdown-content a:hover {background-color: rgba(255, 99, 71, 0)}
  
  .dropdown:hover .dropdown-content {
    margin-top: 5px;
    display: block;
    border-radius: 5px;
    background-color: tomato;
  }
  
  .dropdown:hover .dropbtn {
    background-color: tomato;
  }

.dropdown-content {
    padding:0px;
    width:120px ;
}
.dropdown-content li{
    width:100%;
    padding:8px;
}


  #section-baconburger{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 253, 239);
    border-radius: 5px;
    position: relative;
    border:0;
    box-sizing: border-box;
   

  }


  .split {
    height: 55%;
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    position: fixed;
    z-index: 1;
    top: 300px;
    overflow-x: hidden;
    padding-top: 20px;
  
  }
  
  .left {
    border-radius: 10px 0px 0px 10px;
    left: 0;
    background-color: rgb(255, 253, 239);
  }
  
  .right {
    right: 0;
    background-color: rgb(255, 102, 0);
    margin-left: 0;
    border-radius: 0px 10px 10px 0px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 300px;
    border-radius: 50%;
    
    
  }

  
  
  table {
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding-bottom: 100px;
  }
  
  td, th {
    
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: tomato;
   
  }

  .tabulka h2{
      font-weight: bold;
      color: tomato;

  }

  th{
      background-color: #3d3d3d;
      color:white;
     
  }
 .aboutusfooter{
     max-width:1140px;
     margin-left:auto;
     margin-right: auto;
     background-color:rgb(255, 253, 239);
     padding-top: 50px;
 }